#sec{
    /* display: flex; */
    align-items: center;
    margin-left: 50px ;
    font-family: 'Times New Roman', Times, serif;
}
#h31
{
    margin-top: -30px;
    display: flex;
    align-items: center;
}
.form21{
    display: flexbox;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 20px ;
    margin-left: 20px;
    max-width: 250px;
    margin-right: 20px;
    background-color: rgb(30, 236, 255);
    border-radius: 50px;
}